/* .container {
    width: 80%;
    padding: 20px;
}

#calendar td span {
    text-align: center;
    display: block;
    float: none;
    background-color: lightgreen;
    padding: 10px
}

#calendar td {
    padding: 0px
}

#calendar th span {
    background: green;
    color: #fff;
    padding: 10px
} */